*{
    overflow: auto;
}

body {
    background-color: #8BA1BB;
}

p#categorie
{
    background-color: black;  
    font-family: Arial;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 18px;
    display: inline-block;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 0px;
}

div.categorie
{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top:0px;
    overflow: visible;
}

div.contenu
{
    background-color: white;
    margin: 38px 8px 38px 8px;
   /* min-width: 350px; */
    padding: 0px 8px 20px 8px;
    box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.1);
    overflow: visible;
}

h1{
    text-align: center;
    font-weight:lighter;
    margin-bottom: 12px;
    margin-top: 10px;
}

p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}

div.description
{
    text-align: center;
}

div.separateur
{
    width: 100px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.centrer
{
    text-align: center;
    width: 100%;
}

table.info{
    position: absolute; 
    bottom: 3px; 
    width: 100%; 
    color: white; 
    background-color: #6C829DC0; 
    height: 50px;
}

table.info td{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

table.info th{
    text-align: center;
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 8px;
}

div.info
{
    position:relative; 
    margin-bottom: auto;  
    background-color: #6C829D00;
}

img.info
{
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;
}

div.colonne
{
    width: 100%;
    margin-top: 20px;
}

div.colonne h2
{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;
    padding: 5px;
}

div.colonne1
{
   /* background-color: lightblue; */
    display: inline-block;

}


div.ingredient p
{
    text-align: center;
    border: 1px solid lightgray;
    padding: 5px;
    font-size: 14px;
    border-top: 2%;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0;
}

table.preparation p.numero
{
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0%;

}

table.preparation td
{
    vertical-align: top;
}

table.preparation td.preparation_etape
{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 9%;
    /*min-width: 100%;
    min-height: 100%;*/
}

table.preparation tr
{
    height: 30px;
}

/*Cette propriété permet d'adapter l'écran de la page si la taille
maximale de l'écran est de 768px c'est à dire sur ordinateur*/
@media only screen and (min-width: 768px) {
  /* pour ordinateur: */
    div.contenu
    {
        margin: 60px 10% 80px 10%;
   /* min-width: 350px; */
        padding: 0px 30px 30px 30px;
        min-width: 350px;
    }

    table.info
    {
        height: 80px;
    }

    table.info td
    {
        font-size: 14px;
    }

    table.info th
    {
        font-size: 16px;
    }

    div.colonne
    {
        width: 45%;
    }

    div.colonne1
    {
    /* background-color: lightblue; */
        margin-right: 10px;
    }

    div.colonne2
    {
        float: right;
    }
}

/* Ajustement du contenu dans la mesure ou la taille de l'écran dépasse
900px*/
@media only screen and (min-width: 900px)
{
    div.contenu
    {
        margin-left:auto;
        margin-right: auto;
        width: 650px;
    }
}
